Вопрос клиента: {{ query }}

Контекст на основе которого нужно сформировать ответ:
{% for item in context %}
==========[Документ {{ loop.index }}]==========
Страница: {{ item['page_title'] }}
Содержание страницы:
{{ item['chunk_text'] }}
{% endfor %}