# Confluence
CONFLUENCE_URL=http://localhost
CONFLUENCE_USERNAME=username
CONFLUENCE_API_TOKEN=password
PAGE_ID=
LOAD_PAGE_TREE=False

# Qdrant
QDRANT_HOST=http://localhost
QDRANT_PORT=6333
USE_LOCAL_QDRANT=True
COLLECTION_NAME=confluence_docs
SCORE_THRESHOLD=0.6

# Postgresql
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=
DB_NAME=support_agent
DB_DSN=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Для облачного Qdrant:
# QDRANT_HOST=your-cluster.qdrant.io
# QDRANT_API_KEY=your_api_key
# USE_LOCAL_QDRANT=False

# LLM
OPENAI_URL=
OPENAI_API_KEY=
OPENAI_PROXY=
OPENAI_MODEL_NAME=gpt-4o
OPENAI_TEMPERATURE=0.2
SYSTEM_PROMPT_TEMPLATE_PATH=prompts/support_answer_system.jinja2
USER_PROMPT_TEMPLATE_PATH=prompts/support_answer_user.jinja2

# Опционально
EMBEDDING_MODEL=paraphrase-multilingual-MiniLM-L12-v2
